<!DOCTYPE html>
<html>
  <head>
    <title>Ficha Teorica</title>
    <style>
      body {
        font-size: 14px;
      }
      table {
        border: 1px solid black;
        border-collapse: collapse;
        margin-bottom: 8px;
        width: 100%;
      }
      td {
        border: 1px solid black;
      }
      .title {
        border: 2px solid black;
        padding: 8px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .intro {
        background-color: #b8b4b3;
      }

      .sup {
        font-size: 9px;
        border-bottom: 1px solid white !important;
        height: 9px;
      }

      .cell {
        border-top: 1px solid white !important;
        height: 20px;
      }
    </style>
  </head>
  <body>
    <div class="title">FICHA ALUMNO TEÓRICA</div>

    <!-- AUTOESCUELA -->
    <table>
      <tr>
        <td colspan="3" class="intro">DATOS DE LA AUTOESCUELA</td>
      </tr>

      <tr>
        <td class="sup">Auto escuela</td>
        <td class="sup">Titular</td>
        <td class="sup">Número provincial</td>
      </tr>
      <tr>
        <td class="cell">{{ $center->name }}</td>
        <td class="cell">{{ $center->master }}</td>
        <td class="cell">{{ $center->provinceNumber }}</td>
      </tr>

      <tr>
        <td class="sup">Domicilio</td>
        <td class="sup">Localidad</td>
        <td class="sup">Código postal</td>
      </tr>
      <tr>
        <td class="cell">{{ $center->adress }}</td>
        <td class="cell">{{ $center->city }}</td>
        <td class="cell">{{ $center->postalCode }}</td>
      </tr>

      <tr>
        <td class="sup" colspan="2">Profesor/a</td>
        <td class="sup">DNI</td>
      </tr>
      <tr>
        <td class="cell" colspan="2"></td>
        <td class="cell"></td>
      </tr>
    </table>

    <!-- ALUMNO -->
    <table>
      <tr>
        <td colspan="3" class="intro">DATOS DEL ALUMNO</td>
      </tr>

      <tr>
        <td class="sup">Alumno</td>
        <td class="sup">Fecha de nacimiento (dd/mm/aaaa)</td>
        <td class="sup">DNI/NIE</td>
      </tr>
      <tr>
        <td class="cell">
          {{ $student->firstName }} {{ $student->lastName1 }} {{
          $student->lastName2 }}
        </td>
        <td class="cell">{{ date('d-m-Y', strtotime($student->birthday)) }}</td>
        <td class="cell">{{ $student->dni }}</td>
      </tr>

      <tr>
        <td class="sup">Domicilio</td>
        <td class="sup">Localidad</td>
        <td class="sup">Código postal</td>
      </tr>
      <tr>
        <td class="cell">
          {{ $student->wayType }} {{ $student->wayName }}, {{
          $student->wayNumber }}
        </td>
        <td class="cell">{{ $student->city }}</td>
        <td class="cell">{{ $student->postalCode }}</td>
      </tr>

      <tr>
        <td class="sup">Permiso solicitado</td>
        <td class="sup" colspan="2">Teléfono</td>
      </tr>
      <tr>
        <td class="cell">{{ $course->permission }}</td>
        <td class="cell" colspan="2">{{ $student->phone }}</td>
      </tr>
    </table>

    <table>
      <tbody>
        <tr>
          <td class="sup">Fecha de inicio del ciclo de enseñanza</td>
          <td class="sup" colspan="2">Finalización del ciclo de enseñanza</td>
        </tr>
        <tr>
          <td class="cell">{{ date('d-m-Y', strtotime($course->signUp)) }}</td>
          <td class="cell" colspan="2"></td>
        </tr>
      </tbody>
    </table>

    <!-- ASISTENCIA -->
    <div class="title" style="margin-top: 12px">ASISTENCIA</div>
    <table>
      @for ($i = 0; $i < 11; $i++)
      <tr>
        @for ($j = 0; $j < 8; $j++)
        <td style="height: 25px"></td>
        @endfor
      </tr>
      @endfor
    </table>

    <table>
      <thead>
        <tr>
          <th>Fecha de examen</th>
          <th>Resultado</th>
          <th>Fecha de examen</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        @for ($i = 0; $i < 4; $i++)
        <tr>
          @for ($j = 0; $j < 4; $j++)
          <td style="height: 23px"></td>
          @endfor
        </tr>
        @endfor
      </tbody>
    </table>

    <table>
      <tr>
        <td class="sup" style="padding-bottom: 20px">Observaciones</td>
      </tr>
      <tr>
        <td class="cell"></td>
      </tr>
    </table>

    <small style="font-size: 9px"
      >Además de otras observaciones, caso de detectarse, se incluirán conductas
      de riesgo observadas en el alumno e instrumento de evaluación utilizado
      para evaluar dicha conducta. El director certifica que el alumno/a
      referenciado/a ha recibido la formación necesaria para ser presentado a
      examen de las pruebas de control de conocimientos para el permiso de
      conducción.</small
    ><br />

    <p>
      En <b>{{ $center->city }}</b> a
      <span>{{ date('d-m-Y', strtotime($course->signUp)) }}</span>
    </p>
  </body>
</html>
