<!doctype html>
<html>
<head>
    <title>Solicitud Examen</title>
        <style>
            body {
                font-size: 12px;
            }
            table{
                border: 1px solid black;
                border-collapse: collapse;
                margin-bottom: 0.5rem;
                width: 100%;
            }

            td, th {
                border: 1px solid black;
            }

            p {
                margin-top: 10px !important;
                margin-bottom: 10px !important;
            }

            .negrita {
                font-weight: bold;
            }

            .cabecera {
                margin-bottom: 0.25rem;
            }
            .logo, .logo2 {
                height: 2rem;
            }

            .logo2 {
                position: absolute;
                top: 0px;
                right: 66px;
            }
            .title {
                margin-top: 0.25rem;
                margin-bottom: 0.25rem;
                border: 2px solid black;
                text-align: center;
                font-weight: bold;
            }
            .intro {
                background-color:#B8B4B3;
            }
            .sup {
                font-size: 0.5rem;
                border-bottom: 1px solid white !important;
            }

            .cell {
                border-top: 1px solid white !important;
                height: 0.75rem;
            }

            .dgt {
                border: 1px solid black;
                text-align: center;
            }

            .fecha {
                margin-top: 0.75rem;
                text-align: center;
            }

            .firmas {
                margin-bottom: 4rem;
                justify-content: space-between;
            }

            .firmas table {
                width: 100%;
                text-align:center !important;
            }

            .firmas td {
                border: 1px solid white !important;
            }

            .idiomas{
                font-size: 8px;
            }

            .tramite table{
                border-right: none;
                border-left: none;
            }
        </style>
    </head>
    <body>
        <div class="cabecera">
            <img src="{{ geLogo }}" class="logo">
        <img src="{{ dgtLogo }}" class="logo2">
        </div>
        <h4 class="title">SOLICITUD DE PRUEBA DE APTITUD</h4>
        <div>
            <table>
                <tr>
                    <td class="intro" colspan="5">DATOS DEL INTERESADO</td>
                </tr>
                <tr>
                    <td class="sup">DNI/NIE</td>
                    <td class="sup">Fecha de nacimiento (dd/mm/aaaa)</td>
                    <td class="sup">País de nacimiento</td>
                    <td class="sup">Nacionalidad</td>
                    <td class="sup">Nombre</td>
                </tr>
                <tr>
                    <td class="cell">{{ $student->dni }}</td>
                    <td class="cell"><?php echo date('d/m/Y', strtotime($student->birthday));?></td>
                    <td class="cell">{{ $student->countryBirth }}</td>
                    <td class="cell">{{ $student->nationality }}</td>
                    <td class="cell">{{ $student->firstName }}</td>
                </tr>
                <tr>
                    <td class="sup" colspan="2">Primer apellido </td>
                    <td class="sup" colspan="2">Segundo apellido </td>
                    <td class="sup">Sexo</td>
                </tr>
                <tr>
                    <td class="cell" colspan="2">{{ $student->lastName1 }}</td>
                    <td class="cell" colspan="2">{{ $student->lastName2 }}</td>
                    <td class="cell">{{ $student->gender }}</td>
                </tr>
                <tr>
                    <td class="sup" colspan="3">Nº de teléfono (a consignar voluntariamente)</td>
                    <td class="sup" colspan="2">Correo electronico</td>
                </tr>
                <tr>
                    <td class="cell" colspan="3">{{ $student->phone }}</td>
                    <td class="cell" colspan="2">{{ $student->email }}</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td class="intro" colspan="6">DOMICILIO DEL TITULAR A EFECTO DE NOTIFICACIONES </td>
                </tr>
                <tr>
                    <td class="sup">Tipo de vía</td>
                    <td class="sup" colspan="4">Nombre de la vía</td>
                    <td class="sup">Número</td>
                </tr>
                <tr>
                    <td class="cell">{{ $student->wayType }}</td>
                    <td class="cell" colspan="4">{{ $student->wayName }}</td>
                    <td class="cell">{{ $student->wayNumber }}</td>
                </tr>
                <tr>
                    <td class="sup">Bloque</td>
                    <td class="sup">Portal</td>
                    <td class="sup">Escalera</td>
                    <td class="sup">Planta</td>
                    <td class="sup">Puerta</td>
                    <td class="sup">KM</td>
                </tr>
                <tr>
                    <td class="cell">{{ $student->block }}</td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell">{{ $student->floor }}</td>
                    <td class="cell">{{ $student->door }}</td>
                    <td class="cell"></td>
                </tr>
                <tr>
                    <td class="sup">Codigo postal</td>
                    <td class="sup" colspan="2">Provincia</td>
                    <td class="sup">Municipio</td>
                    <td class="sup" colspan="2">Localidad</td>
                </tr>
                <tr>
                    <td class="cell">{{ $student->postalCode }}</td>
                    <td class="cell" colspan="2">{{ $student->province }}</td>
                    <td class="cell"></td>
                    <td class="cell" colspan="2">{{ $student->city }}</td>
                </tr>
            </table>
        </div>
        <div class="tasa">
           <table>
                <tr>
                    <td class="sup">TIPO DE TASA</td>
                    <td class="sup">NUMERO DE IDENTIFICACIÓN DE TASA</td>
                </tr>
                <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                </tr>
           </table>
        </div>
        <div class="centro">
            <table>
                <tr>
                    <td class="sup">Centro de reconocimiento</td>
                    <td class="sup"></td>
                    <td class="sup"></td>
                    <td class="sup"></td>
                </tr>
                <tr>
                    <td class="cell">{{ $student->medicalExamination }}</td>
                    <td><input type="checkbox" name="lentes"><label for="lentes">Lentes</label></td>
                    <td><input type="checkbox" name="condiciones"><label for="condiciones">Condiciones</label></td>
                    <td><input type="checkbox" name="validez"><label for="validez">Validez limitada</label></td>
                </tr>
            </table>
        </div>
        <div class="tramite">
            <div class="titulo">SELECCIONE EL TRÁMITE QUE DESEA REALIZAR Y RELLENE LOS CAMPOS CORRESPONDIENTES</div>
            <div>
                <table>
                    <tr>
                        <td class="intro2" colspan="6">
                            <input type="checkbox" name="permiso" checked>
                            <label for="permiso">
                                PERMISO/LICENCIA DE CONDUCCIÓN CLASE {{ $permission }}
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="sup" colspan="2">Transmisión</td>
                        <td rowspan="2"><input type="checkbox" name="cuadriciclo"><label for="cuadriciclo">AM tres ruedas o cuadriciclo ligero</label></td>
                        <td style="border-bottom: 1px solid white;"><input type="checkbox" name="B"><label for="B">B96</label></td>
                        <td class="sup" colspan="2">Centro de examen</td>
                    </tr>
                    <tr>
                        <td class="cell" style="border-right: 1px solid white;"><input type="checkbox" name="manual" checked><label for="manual">Manual</label></td>
                        <td class="cell"><input type="checkbox" name="automatica"><label for="automatica">Automatica</label></td>
                        <td style="border-top: 1px solid white;"><input type="checkbox" name="C1"><label for="C1">C1 97/C1E 97</label></td>
                        <td class="cell" colspan="2">{{$center->city}}</td>
                    </tr>
                    <tr>
                        <td class="sup" colspan="2">Nombre de la autoescuela</td>
                        <td class="sup">Número de la autoescuela</td>
                        <td class="sup">Seccion</td>
                        <td class="sup">Dígito de control</td>
                    </tr>
                    <tr>
                        <td class="cell" colspan="2">{{ $center->denomination }}</td>
                        <td class="cell">{{ $center->provinceNumber }}</td>
                        <td class="cell">{{ $center->sectionNumber }}</td>
                        <td class="cell">{{ $center->controlDigit }}</td>
                    </tr>
                    <tr>
                        <td class="sup" colspan="2">Idioma de pal prueba teórica</td>
                        <td class="idiomas" colspan="4" rowspan="2">
                            <span>Castellano, lenguas cooficiales, inglés, francés y alemán: B y RPV.</span><br>
                            <span>Castellano y lenguas cooficiales: específicos de las clases LCM; LVA; AM, A1, A2, BE; C1; C197; C; D1; D; C1E; C1E97; CE; D1E; DE.</span><br>
                            <span><b>CATALÁN:</b> Cataluña e Illes Balears <b>EUSKERA:</b> País Vasco y Navarra. <b>GALLEGO:</b> Galicia. <b>VALENCIANO:</b>Comunidad Valenciana.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell" colspan="2">Castellano</td>
                    </tr>
                </table>
            </div>
            <div style="margin: 1.5rem 0;"></div>
            <div>
                <table>
                    <tr>
                        <td class="intro2" colspan="6">
                            <input type="checkbox">
                            <label>AUTORIZACION PARA MERCANCÍAS PELIGROSAS</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid white;" colspan="2">Solicita:</td>
                        <td style="border-right: 1px solid white; margin-top: 8px;" colspan="2">
                            <input type="checkbox" name="obtencion">
                            <label for="obtencion">OBTENCION</label>
                        </td>
                        <td colspan="2">
                            <input type="checkbox" name="prorroga">
                            <label for="prorroga">PRÓRROGA</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;" colspan="6">DATOS DE LOS CURSOS</td>
                    </tr>
                    <tr>
                        <th>Tipo de curso</th>
                        <th colspan="2">Formación</th>
                        <th>Centro de formación</th>
                        <th>Fecha inicio del curso</th>
                        <th>Fecha de fin/Certificación del curso</th>
                    </tr>
                    <tr>
                        <td>Básica común</td>
                        <td style="border-right:1px solid white;">
                            <input type="checkbox" name="inicial">
                            <label for="inicial">Inicial</label>
                        </td>
                        <td>
                            <input type="checkbox" name="reciclaje">
                            <label for="reciclaje">Reciclaje</label>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cisternas</td>
                        <td style="border-right:1px solid white;"><input type="checkbox" name="inicial"><label for="inicial">Inicial</label></td>
                        <td><input type="checkbox" name="reciclaje"><label for="reciclaje">Reciclaje</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Clase 1 Explosivos</td>
                        <td style="border-right:1px solid white;"><input type="checkbox" name="inicial"><label for="inicial">Inicial</label></td>
                        <td><input type="checkbox" name="reciclaje"><label for="reciclaje">Reciclaje</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Clase 7 Radioactivos</td>
                        <td style="border-right:1px solid white;"><input type="checkbox" name="inicial"><label for="inicial">Inicial</label></td>
                        <td><input type="checkbox" name="reciclaje"><label for="reciclaje">Reciclaje</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="recuperacion">
                <table>
                    <tr>
                        <td class="intro2" colspan="5"><input type="checkbox" name="recuperacion"><label for="recuperacion">RECUPERACIÓN DEL PERMISO POR PÉRDIDA DE PUNTOS (RPV)</label></td>
                    </tr>
                    <tr>
                        <td class="sup">Perfil</td>
                        <td class="sup">Número de centro formación</td>
                        <td class="sup">Fecha de aprobación del curso</td>
                        <td class="sup">Fecha de fin/certificación del curso</td>
                        <td class="sup">Código del curso</td>
                    </tr>
                    <tr>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="dgt">
            <tr>
                <td>
                    Autorizo expresamente a la Dirección General de Tráfico a consultar electrónicamente mis datos personales referidos a:
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="empadronamiento"><label for="empadronamiento">Empadronamiento</label>
                </td>
            </tr>
        </table>
        <div class="fecha">
            En <span class="firma">{{ $center->city }}</span> a <span class="firma"> {{ date }}</span>
        </div>
        <div class="firmas">
            <table>
                <tr>
                    <td style="width:50%">El Alumno/a (o su representante)</td>
                    <td style="width:50%">Por la Escuela</td>
                </tr>
            </table>
        </div>
        <span style="font-size: 8px;">El solicitante declara no estar privado por resolución judicial del derecho a conducir vehículos de motor y ciclomotores; no hallarse sometido a suspensión o intervención administrativa del permiso
        o licencia de conducción; no ser titular de un permiso de conducción de igual clase expedido en otro Estado miembro de la Unión Europea o en otro Estado parte del Acuerdo sobre el Estado Económico
        Europeo, ni haber sido restringido, suspendido o anulado en otro Estado miembro el permiso de conducir que poseyese.</span>
    </body>
</html>