<!DOCTYPE html>
<html>
  <head>
    <title>Solicitud Expediente</title>
    <style>
      body {
        font-size: 13px;
      }
      table {
        border: 1px solid black;
        border-collapse: collapse;
        margin-bottom: 10px;
        width: 100%;
      }
      td {
        border: 1px solid black;
      }

      .cabecera {
        margin-bottom: 5px;
      }
      .logo {
        height: 70px;
      }

      .logo2 {
        height: 70px;
        position: absolute;
        top: 0px;
        right: 150px;
      }
      .title {
        border: 2px solid black;
        padding: 1%;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1%;
      }

      .intro {
        background-color: #b8b4b3;
      }

      .sup {
        font-size: 8px;
        border-bottom: 1px solid white !important;
        height: 8px;
      }

      .cell {
        border-top: 1px solid white !important;
        height: 20px;
      }

      .checks {
        border: none;
      }

      .firmas {
        margin-bottom: 50px;
        justify-content: space-between;
      }

      .firmas table {
        width: 100%;
        text-align: center !important;
      }

      .firmas td {
        border: 1px solid white !important;
      }

      p {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div class="cabecera">
      <img src="./images/geLogo.png" class="logo" />
      <img src="./images/dgt.png" class="logo2" />
    </div>
    <div class="title">
      SOLICITUD DE TRASLADO DE EXPEDIENTE O DE ANULACIÓN DE CITACIÓN
    </div>

    <div class="interesado">
      <table>
        <tr>
          <td colspan="3" class="intro">DATOS DEL INTERESADO</td>
        </tr>
        <tr>
          <td class="sup">DNI/NIE</td>
          <td class="sup">Fecha de nacimiento (dd/mm/aaaa)</td>
          <td class="sup">Clase de permiso/Autorización:</td>
        </tr>
        <tr>
          <td class="cell">{{ $student->dni }}</td>
          <td class="cell">
            {{ date('d-m-Y', strtotime($student->birthday)) }}
          </td>
          <td class="cell">{{ $course->permission }}</td>
        </tr>
        <tr>
          <td class="sup" colspan="2">Apellidos</td>
          <td class="sup">Nombre</td>
        </tr>
        <tr>
          <td class="cell" colspan="2">
            {{$student->lastName1}} {{$student->lastName2}}
          </td>
          <td class="cell">{{$student->firstName}}</td>
        </tr>
      </table>
    </div>

    <div class="representante">
      <table>
        <tr>
          <td colspan="3" class="intro">
            REPRESENTANTE AUTORIZADO (rellénese si no lo presenta el interesado)
          </td>
        </tr>
        <tr>
          <td class="sup">DNI/NIE</td>
          <td class="sup">Apellidos</td>
          <td class="sup">Nombre</td>
        </tr>
        <tr>
          <td class="cell"></td>
          <td class="cell"></td>
          <td class="cell"></td>
        </tr>
        <tr>
          <td class="sup" colspan="3">
            Concepto en que representa al interesado
          </td>
        </tr>
        <tr>
          <td class="cell" colspan="3">Director</td>
        </tr>
      </table>
    </div>

    <div class="tramite">
      <div class="titulo">
        SELECCIONE EL TRÁMITE QUE DESEA REALIZAR Y RELLENE LOS CAMPOS
        CORRESPONDIENTES
      </div>

      <div class="traslado">
        <table>
          <tbody>
            <tr>
              <td colspan="4">
                <input type="checkbox" name="traslado" />
                <label for="traslado"
                  >SOLICITUD DE TRASLADO DE EXPEDIENTE DE EXÁMENES</label
                >
              </td>
            </tr>
            <tr>
              <td colspan="4">DATOS DE LA NUEVA AUTOESCUELA</td>
            </tr>
            <tr>
              <td class="sup">Número</td>
              <td class="sup">Sección</td>
              <td class="sup">Digito de control</td>
              <td class="sup">Denominación</td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td class="intro" colspan="6">NUEVO DOMICILIO (si procede)</td>
            </tr>
            <tr>
              <td class="sup">Tipo de vía</td>
              <td class="sup" colspan="4">Nombre de la vía</td>
              <td class="sup">Número</td>
            </tr>
            <tr>
              <td class="cell">{{ $student->wayType }}</td>
              <td class="cell" colspan="4">{{ $student->wayName }}</td>
              <td class="cell">{{ $student->wayNumber }}</td>
            </tr>
            <tr>
              <td class="sup">Bloque</td>
              <td class="sup">Portal</td>
              <td class="sup">Escalera</td>
              <td class="sup">Planta</td>
              <td class="sup">Puerta</td>
              <td class="sup">KM</td>
            </tr>
            <tr>
              <td class="cell">{{ $student->block }}</td>
              <td class="cell"></td>
              <td class="cell"></td>
              <td class="cell">{{ $student->floor }}</td>
              <td class="cell">{{ $student->door }}</td>
              <td class="cell"></td>
            </tr>
            <tr>
              <td class="sup">Código Postal</td>
              <td class="sup" colspan="2">Provincia</td>
              <td class="sup" colspan="2">Municipio</td>
              <td class="sup">Localidad</td>
            </tr>
            <tr>
              <td class="cell"></td>
              <td class="cell" colspan="2"></td>
              <td class="cell" colspan="2"></td>
              <td class="cell"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="anulacion">
        <table>
          <tr>
            <td colspan="4">
              <input type="checkbox" name="traslado" />
              <label for="traslado"
                >SOLICITUD DE ANULACIÓN DE CITACIÓN DE EXÁMENES</label
              >
            </td>
          </tr>
          <tr>
            <td colspan="4">ESCUELA DE CONDUCTORES</td>
          </tr>
          <tr>
            <td class="sup">Número</td>
            <td class="sup">Sección</td>
            <td class="sup">Digito de control</td>
            <td class="sup">Denominación</td>
          </tr>
          <tr>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
            <td class="cell"></td>
          </tr>
          <tr>
            <td class="sup" colspan="4">
              Fecha del examen cuya anulación solicita
            </td>
          </tr>
          <tr>
            <td class="cell" colspan="4"></td>
          </tr>
          <tr>
            <td colspan="4">CONVOCATORIA PROCEDENTE DE</td>
          </tr>
          <tr>
            <td class="checks">Examen teórico:</td>
            <td colspan="2" class="checks">
              <input type="checkbox" name="ordenador" /><label
                class="check"
                for="ordenador"
                >En ordenador</label
              >
            </td>
            <td class="checks">
              <input type="checkbox" name="papel" /><label
                class="check"
                for="papel"
                >En papel (solicitud por el sistema anterior)</label
              >
            </td>
          </tr>
          <tr>
            <td class="checks">Examen práctico:</td>
            <td colspan="2" class="checks">
              <input type="checkbox" name="destreza" /><label
                class="check"
                for="destreza"
                >Destreza</label
              >
            </td>
            <td class="checks">
              <input type="checkbox" name="circulacion" /><label
                class="check"
                for="circulacion"
                >Circulación</label
              >
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="sup">
              Causas por las cuales solicita la anulación de la citación al
              examen
            </td>
          </tr>
          <tr>
            <td class="cell"></td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="sup">Documentación justificativa que aporta</td>
          </tr>
          <tr>
            <td class="cell"></td>
          </tr>
        </table>
      </div>
    </div>
    En
    <p class="firma">{{ $center->city }}</p>
    a
    <p class="firma"><?php echo date('d/m/Y') ?></p>

    <div class="firmas">
      <table>
        <tr>
          <td style="width: 50%">El Alumno/a (o su representante)</td>
          <td style="width: 50%">Por la Escuela</td>
        </tr>
      </table>
    </div>
    El solicitante declara no estar privado por resolución judicial del derecho
    a conducir vehículos de motor y ciclomotores; no hallarse sometido a
    suspensión o intervención administrativa del permiso o licencia de
    conducción; no ser titular de un permiso de conducción de igual clase
    expedido en otro Estado miembro de la Unión Europea o en otro Estado parte
    del Acuerdo sobre el Estado Económico Europeo, ni haber sido restringido,
    suspendido o anulado en otro Estado miembro el permiso de conducir que
    poseyese.
  </body>
</html>
